.header {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidenav__logo>img {
    width: 20%;
    margin: 10px 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left a {
    padding: 10px;
    color: #808080;
    margin-right: 30px;
}

.header__left a.active {
    color: #fd4500;
    border-bottom: 2px solid #fd4500;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right>i {
    font-size: medium;
    color: #808080;
}

.header__right>.header__user>span {
    margin-right: 10px;
}