.post {
    display: flex;
    align-items: center;
    margin: 1.5em 1em;
    border: 2px solid black;
}

.post__left {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post__right {
    width: 85%;
}