.heading {
    padding-right: 50px;
}

.content {
    background-color:#f2f2f2;
     width: 600px;
     height: 480px;
     border: 1px solid black;
    padding: 50px;
    margin: 20px;
}

textarea {
    width: 40%;
    height: 120px;
}

.userId {
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title {

text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
    font-size: x-large;
    background-color: white;
    border-radius: 4px;
}

.data {
    text-align: left;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    background-color: white;
}

textarea {
    border: 2px solid #333;
}

.desc {
    text-align:left;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.commentkaro {
    padding-top: 10px;
}

.comments {
    margin-left: -293px ;
    width: 33%;
    height: 30px;
    font-size: large;
    text-align: left;
    width: 50%;
    height: 100px;
    border: 2px solid white;
}

.submit007 {
        margin-left: -500px ;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
.submit007:focus {
    border: 3px solid #555;
  }

.showComments {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    text-align: left;
    background-color:#f2f2f2;
     width: 600px;
     height:auto;
     border: 1px solid black;
    padding: 50px;
    margin: 20px;
}


.showComments>.comment_here {
    background-color: white;
    padding-right: 46%;
    padding-bottom: auto;
    border: 2px ;
}