.addBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.name {
    margin-bottom: 10px;
    font-size: x-large;
}

.gg {
    margin-bottom: 50px;
}

.photo {
    height: 10%;
    width: 10%;
    margin-bottom: 1%;
}

.addBlog__details {
    margin-bottom: 5%;
    background-color:#f2f2f2;
     width: 600px;
     height: auto;
     border: 1px solid black;
     border-radius: 4px;
    padding: 50px;
    margin: 20px;
}
.addBlog__details>.gg{
   margin-left: -380px;

}
.addBlog__details>h3 {
    margin-left: -350px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.addBlog__details>input,
.addBlog__details>textarea {
    width: 350px;
    height: 20px;
    outline: none;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.fa-check {
    font-size: 15px !important;
}

.kk{
    width:400px;
    height:30px;
    border:1px solid white;
}
.se{
    border:1px solid white;
    border-radius: 4px ;
    width:400px;
    height:200px;
}