.Navbar_container {
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  padding: 0.5% 5%;
  display: flex;
}
.Navbar_img_container {
  width: 20%;
  height: 96%;
}

.Navbar_logo {
  width: 100%;
  height: 100%;
}

.searchbar {
  height: 35px;
  border: 2px solid black;
  border-left: none;
  width: 100%;
}
.Navbar_searchbar {
  display: flex;
  margin: 1% 10%;
  align-items: center;
  width: 40%;
}
.searchicon {
  background-color: lavender;
  width: 40px;
  border: 2px solid black;
  border-right: none;
}

.Navbar_login_signup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 10%;
}

.navbar_login {
  padding: 10% 30%;
  margin: 15%;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  border-radius: 60px;
}
.navbar_cp {
    padding: 10% 60%;
    margin: 15%;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    border-radius: 60px;

}
.navbar_signup {
  padding: 10% 30%;
  margin: 15%;
  color: aliceblue;
  border: 2px solid aliceblue;
  background-color: dodgerblue;
  border-radius: 60px;
}
.navbar_lout{
  padding: 10% 30%;
  margin: 15%;
  color: aliceblue;
  border: 2px solid aliceblue;
  background-color: dodgerblue;
  border-radius: 60px;
}
#logoutbtn{
  display: none;
}